/** colors are defined in waybar.nix **/

* {
  border: none;
  border-radius: 0;
  font-family: 'GohuFont uni14 Nerd Font Propo', monospace;
  font-weight: bold;
  font-size: 16px;
  min-height: 0;
}

window#waybar {
  background: @base;
  color: @text;
}

tooltip {
  background: @surface;
  border-radius: 10px;
  border-width: 2px;
  border-style: solid;
  border-color: @inactive;
}

#workspaces button {
  padding: 5px;
  color: @inactive;
  margin-right: 5px;
}

#workspaces button.active {
  color: @text;
}

#workspaces button.focused {
  color: @text;
  background: @surface;
}

#workspaces button.urgent {
  color: @surface;
  background: @highlight;
}

#workspaces button:hover {
  color: @text;
  background: @surface;
  border-top: 2px solid @highlight;
}

#cpu,
#tray,
#memory,
#window,
#clock,
#battery,
#pulseaudio,
#network,
#workspaces,
#backlight {
  background: @surface;
  padding: 0px 5px;
  margin: 0;
  border: none;
  border-radius: 10px;
}

#clock {
  color: @clock;
  margin-left: 5px;
}

#workspaces {
  background: @surface;
  margin-left: 5px;
}

#network {
  color: @network;
  margin-right: 5px;
}

#pulseaudio {
  color: @sound;
  border-radius: 10px 0px 0px 10px;
}

#pulseaudio.microphone {
  color: @microphone;
  border-radius: 0px 10px 10px 0px;
  margin-right: 5px;
}

#cpu {
  border-radius: 10px 0px 0px 10px;
}

#memory {
  padding: 0;
  border-radius: 0;
}

#battery {
  color: @battery;
  border-radius: 0 10px 10px 0;
  margin-right: 5px;
}
